@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */


:root {
  --foreground-rgb: 241, 239, 246;
  --background-start-rgb: 4, 3, 7;
  --background-end-rgb: 14, 5, 35;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-noto)
}

p {
  font-family: var(--font-noto);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
